*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* header */

.menu{
    background: transparent;
    padding: 20px 0;
}

.menu-container{
    max-width: 1100px;
    margin: 0 auto;
}

.menu-container::after, .menu-container::before{
    content: '';
    display: table;
    clear: both;
}

.menu-logo{
    display: block;
    float: left;
    margin-left: 10px;
}

.menu-logo img{
    max-width: 150px;
}

.menu-nav{
    display: block;
    float: right;
    margin-right: 10px;
}

.menu-nav li{
    display: inline-block;
}

.menu-nav a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    transition: .3s;
}

.menu-nav a:hover{
    color: #bfa640;
}

/* intro */

.intro{
    background: url(img/img100.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    padding: 300px 0;
    margin-top: -140px;
}

.intro-container{
    text-align: center;
    margin-right: 49em;
    text-transform: uppercase;
}

.intro-container h1{
    font-size: 2.75em;
    color: rgb(228, 228, 228);
}

.intro-container strong{
    color: #bfa640;
}

