*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* header */

.menu{
    background: transparent;
    padding: 20px 0;
}

.menu-container{
    max-width: 1100px;
    margin: 0 auto;
}

.menu-container::after, .menu-container::before{
    content: '';
    display: table;
    clear: both;
}

.menu-logo{
    display: block;
    float: left;
    margin-left: 10px;
}

.menu-logo img{
    max-width: 150px;
}

.menu-nav{
    display: block;
    float: right;
    margin-right: 10px;
}

.menu-nav li{
    display: inline-block;
}

.menu-nav a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    transition: .3s;
}

.menu-nav a:hover{
    color: #bfa640;
}

/* intro */

.intro{
    background: url(img/img100.jpg) no-repeat center;
    background-size: cover;

    padding: 300px 0;
    margin-top: -140px;
}

.intro-container{
    text-align: center;
    margin-right: 49em;
    text-transform: uppercase;
}

.intro-container h1{
    font-size: 2.75em;
    color: rgb(228, 228, 228);
}

.intro-container strong{
    color: #bfa640;
}

/* historia */
.historia{
    display: grid;
}

.historia-container{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}


.historia-container h1{
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2.75em;
    padding: 60px 0;
    text-transform: uppercase;
}

.historia-container img{
    max-width: 520px;
    border-radius: 6px;
}

.historia-container p{
    padding: 0 0 0 60px;
    font-size: 1.25em;
    color: #252525;
}

/* serviço */

.servico{
    background: rgba(160, 160, 160, 0.103);
    margin: 60px auto;
    padding: 0 0 40px 0;
}

.servico-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.servico-container h1{
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2.75em;
    padding: 60px 0 10px 0;
    text-transform: uppercase;
}

.servico-container p{
    grid-column: 1 / -1;
    text-align: center;
    color: #bfa640;
    font-size: 1.25em;
}

.tabela{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.308);
}

.tabela1{
    padding: 40px;
}

.tabela1 p{
    padding: 10px 60px;
}

.tabela1 strong{
    color: #252525;
}

