*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* header */

.menu{
    background: #000;
    padding: 20px 0;
}

.menu-container{
    max-width: 960px;
    margin: 0 auto;
}

.menu-container::after, .menu-container::before{
    content: '';
    display: table;
    clear: both;
}

.menu-logo{
    display: block;
    float: left;
    margin-left: 10px;
}

.menu-logo img{
    max-width: 150px;
}

.menu-nav{
    display: block;
    float: right;
    margin-right: 10px;
}

.menu-nav li{
    display: inline-block;
}

.menu-nav a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

/* intro */

.intro{
    background: url(img/img1.jpg) no-repeat center;
    background-size: cover;
    padding: 300px 0;
    margin-top: -129px;

}